wheel == 0.46.3
zipp == 3.23.0
mkdocs == 1.6.1
mkdocs-autolinks-plugin == 0.7.1
mkdocs-autorefs == 1.4.4
mkdocs-awesome-pages-plugin == 2.10.1
mkdocs-em-img2fig-plugin == 0.3.3
mkdocs-include-markdown-plugin == 7.2.1
mkdocs-macros-plugin == 1.5.0
mkdocs-material == 9.7.2
mkdocs-minify-plugin == 0.8.0
mkdocs-section-index == 0.3.10
mkdocs-with-pdf == 0.9.3
mkdocs-glightbox == 0.5.2
mkdocs-htmlproofer-plugin == 1.4.1
markdownify == 1.2.2
paramiko == 4.0.0
sshtunnel == 0.4.0
mysql-connector-python == 9.6.0
pathvalidate == 3.3.1
beautifulsoup4 == 4.14.3
gitingest == 0.3.1
crawl4ai == 0.8.0
tiktoken == 0.12.0
cryptography == 46.0.5
python-dotenv == 1.2.1
keyring == 25.3.0